site_name: Benchmarking ATLAS Analyses
site_description:
  Contains example jobs that are used to benchmark Tier-3 AF performance
site_author: Juan Robles
site_url: https://usatlas.readthedocs.io/projects/af-docs/
repo_name: usatlas/af-docs
repo_url: https://github.com/usatlas/af-docs
edit_uri: edit/main/docs
copyright: "Copyright &copy; USATLAS 2025-present"

docs_dir: docs
site_dir: site
theme:
  name: material
  logo: images/lgbt_atlas.png
  favicon: images/lgbt_atlas.png
  font: false
  language: en
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - content.tabs.link

extra_css:
  - css/atlas-theme.css

extra_javascript:
  - https://polyfill-fastly.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Flowchart: flowChart.md

plugins:
  # Built-in
  search: {}
  macros: {}
  # Extra
  table-reader: {}
  glightbox: {}
  git-revision-date-localized:
    type: date
    # Required for generated documentation from gen-files
    fallback_to_build_date: true
  section-index: {}
  minify:
    minify_html: true

markdown_extensions:
  # Built-in
  - markdown.extensions.abbr:
  # disable in favor of pymdownx.blocks.admonition
  #- markdown.extensions.admonition:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.footnotes:
  - markdown.extensions.meta:
  - markdown.extensions.tables:
  - markdown.extensions.toc:
      permalink: true
  # Extra
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret:
  - pymdownx.critic:
      mode: accept
  - pymdownx.details:
  - pymdownx.emoji:
      # https://github.com/twitter/twemoji
      # https://raw.githubusercontent.com/facelessuser/pymdown-extensions/master/pymdownx/twemoji_db.py
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      guess_lang: false
      linenums_style: pymdownx-inline
      use_pygments: true
  - pymdownx.inlinehilite:
  - pymdownx.keys:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shortener: true
      social_url_shorthand: true
      normalize_issue_symbols: true
      provider: cern
      custom:
        cern:
          host: https://gitlab.cern.ch
          label: GitLab
          type: gitlab
  - pymdownx.mark:
  - pymdownx.progressbar:
  - pymdownx.saneheaders:
  - pymdownx.smartsymbols:
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - docs/.snippets
        - docs/README.md
      auto_append:
        - links.txt
        - abbrs.txt
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.blocks.admonition:
  - pymdownx.tilde:
  - attr_list:
  - md_in_html:
  - pymdownx.blocks.caption:
