name: uchicago
on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: arc-runner-set-uchicago-triton
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-globus
        with:
          voms-usercert: ${{ secrets.VOMS_USERCERT }}
          voms-userkey: ${{ secrets.VOMS_USERKEY }}

      - name: execute
        run: ./Rucio/rucio_script.sh uchicago
        shell: bash
        env:
          VOMS_PASSWORD: ${{ secrets.VOMS_PASSWORD }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: ${{ github.job }}-logs
          path: |
            rucio.log
