name: uchicago
on:
  # Run every 6 hours
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  rucio:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-globus
        with:
          voms-usercert: ${{ secrets.VOMS_USERCERT }}
          voms-userkey: ${{ secrets.VOMS_USERKEY }}

      - name: execute
        run: ./Rucio/rucio_script.sh uchicago
        shell: bash
        env:
          VOMS_PASSWORD: ${{ secrets.VOMS_PASSWORD }}

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: rucio
          log-file: rucio.log
          log-type: rucio
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "false"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            rucio.log

  evnt-native:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./EVNT/UC/Native/run_evnt_native_batch.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: evnt
          log-file: log.generate
          log-type: evnt
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "false"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.generate

  evnt-el9:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./EVNT/UC/EL9/run_evnt_el9_batch.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: evnt
          log-file: log.generate
          log-type: evnt
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "true"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.generate

  evnt-centos7:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./EVNT/UC/CentOS7/run_evnt_centos7_batch.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: evnt
          log-file: log.generate
          log-type: evnt
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: centos7
          mode: batch
          containerized: "true"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.generate

  truth3-native:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./TRUTH3/UC/Native/run_truth3_native_batch.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: truth3
          log-file: log.Derivation
          log-type: truth3
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "false"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.Derivation

  truth3-el9:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./TRUTH3/UC/EL9/run_truth3_el9_batch.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: truth3
          log-file: log.Derivation
          log-type: truth3
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "true"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.Derivation

  truth3-centos7:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./TRUTH3/UC/CentOS7/run_truth3_centos7_batch.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: truth3
          log-file: log.EVNTtoDAOD
          log-type: truth3
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: centos7
          mode: batch
          containerized: "true"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.EVNTtoDAOD

  coffea:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./NTuple_Hist/coffea/UC/run_example.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: coffea
          log-file: coffea_hist.log
          log-type: coffea
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          payload-file: coffea.root
          os: alma9
          mode: batch
          containerized: "true"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            coffea_hist.log

  eventloop-columnar:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./NTuple_Hist/event_loop/UC/columnar/run_eventloop_arrays.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: eventloop-columnar
          log-file: eventloop_arrays.log
          log-type: eventloop
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "false"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            eventloop_arrays.log

  eventloop-standard:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./NTuple_Hist/event_loop/UC/standard/run_eventloop_noarrays.sh
        working-directory: .
        shell: bash

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: eventloop-standard
          log-file: eventloop_noarrays.log
          log-type: eventloop
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          os: alma9
          mode: batch
          containerized: "false"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            eventloop_noarrays.log

  fastframes:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-globus
        with:
          voms-usercert: ${{ secrets.VOMS_USERCERT }}
          voms-userkey: ${{ secrets.VOMS_USERKEY }}

      - name: execute
        run: ./NTuple_Hist/fastframes/UC/run_fastframes.sh
        shell: bash
        env:
          VOMS_PASSWORD: ${{ secrets.VOMS_PASSWORD }}

      - name: parse benchmark log
        if: always()
        uses: ./.github/actions/parse
        with:
          job: fastframes
          log-file: fastframes.log
          log-type: fastframes
          cluster: UC-AF
          kibana-token: ${{ secrets.KIBANA_TOKEN }}
          kibana-kind: "benchmark"
          host: ${NODE_NAME}
          payload-file: ./NTuple_Hist/fastframes/UC/example_FS.root
          os: alma9
          mode: batch
          containerized: "false"

      - name: upload to kibana
        if: always() && github.event_name != 'pull_request'
        uses: ./.github/actions/upload
        with:
          payload-file: payload.json
          kibana-uri: ${{ secrets.KIBANA_URI }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            fastframes.log
