name: uchicago
on:
  pull_request:
    branches:
      - main
  # Run every 6 hours
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  rucio:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-globus
        with:
          voms-usercert: ${{ secrets.VOMS_USERCERT }}
          voms-userkey: ${{ secrets.VOMS_USERKEY }}

      - name: execute
        run: ./Rucio/rucio_script.sh uchicago
        shell: bash
        env:
          VOMS_PASSWORD: ${{ secrets.VOMS_PASSWORD }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            rucio.log

  evnt-native:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./EVNT/UC/Native/run_evnt_native_batch.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.generate

  evnt-el9:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./EVNT/UC/EL9/run_evnt_el9_batch.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.generate

  evnt-centos7:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./EVNT/UC/CentOS7/run_evnt_centos7_batch.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.generate

  truth3-native:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./TRUTH3/UC/Native/run_truth3_native_batch.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.Derivation

  truth3-el9:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./TRUTH3/UC/EL9/run_truth3_el9_batch.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.Derivation

  truth3-centos7:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./TRUTH3/UC/CentOS7/run_truth3_centos7_batch.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            log.EVNTtoDAOD

  coffea:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./NTuple_Hist/coffea/UC/run_example.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            coffea_hist.log

  event-loop-columnar:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./NTuple_Hist/event_loop/UC/columnar/run_eventloop_arrays.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            eventloop_arrays.log

  event-loop-standard:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - name: execute
        run: ./NTuple_Hist/event_loop/UC/standard/run_eventloop_noarrays.sh
        working-directory: .
        shell: bash

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            eventloop_noarrays.log

  FF:
    runs-on: arc-runner-set-uchicago
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-globus
        with:
          voms-usercert: ${{ secrets.VOMS_USERCERT }}
          voms-userkey: ${{ secrets.VOMS_USERKEY }}

      - name: execute
        run: ./NTuple_Hist/fastframes/UC/run_ff.sh
        shell: bash
        env:
          VOMS_PASSWORD: ${{ secrets.VOMS_PASSWORD }}

      - name: upload log
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.job }}-logs
          path: |
            ff.log
